<!doctype html>
<html lang="fr">
<%- include("header"); -%>
<body>
<%- include("barre"); -%>

<main>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row police">
                    <article class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="text-center mb-5"><%= actualite.titreactualite%></h2>
                        <%moment.locale('fr')%>
                        <p><%let datee= moment(actualite.dateactualite) %>publié le <%= datee.format('D MMMM YYYY')%> :</p>
                        <%let contenu = nl2br(actualite.contenuactualite)%>
                        <p><%- contenu%></p>

                    </article>
                    <% if(co !== false){%>
                    <article class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="commentaire">
                        <form method="post">
                            <div class="form-group row">
                                <textarea id="contenucommentaire" name="contenucommentaire" rows="8" maxlength="1000" class="form-control"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-8">
                                    <button name="submit" type="submit" class="btn btn-primary">Commenter</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </article>
                    <%}%>
                    <article class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>Commentaires: </p>
                        <%for(i in com){%>
                            <% let test1= nl2br(com[i].contenucommentaire)%>
                            <% let date1= moment(com[i].datecommentaire) %>
                            <p><%=auteur1[i]%> a dit le <%= date1.format('D MMMM YYYY')%> : <%- test1%></p>
                        <%}%>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
<%- include("footer");-%>
</html>