<!doctype html>
<html lang="fr">
<%- include("header"); -%>
<body class="bodyColor">
<%- include("barre"); -%>

<main>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row-align-self-center">
                    <article class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="police">
                            <p> Matchs joués: <%= stats.api.statistics.matchs.matchsPlayed.total%> </p>
                            <p> Matchs gagnés: <%= stats.api.statistics.matchs.wins.total%> </p>
                            <p> Matchs nuls: <%= stats.api.statistics.matchs.draws.total%> </p>
                            <p> Matchs perdus: <%= stats.api.statistics.matchs.loses.total%> </p>
                            <p> Buts marqués: <%= stats.api.statistics.goals.goalsFor.total%></p>
                            <p> Buts encaisés: <%= stats.api.statistics.goals.goalsAgainst.total%></p>
                            <p> Moyenne de buts inscrits à domicile: <%= stats.api.statistics.goalsAvg.goalsFor.home%></p>
                            <p> Moyenne de buts inscrits à l'exterieur: <%= stats.api.statistics.goalsAvg.goalsFor.away%></p>
                            <p> Moyenne de buts encaissés à domicile: <%= stats.api.statistics.goalsAvg.goalsAgainst.home%></p>
                            <p> Moyenne de buts encaissés à l'extérieur: <%= stats.api.statistics.goalsAvg.goalsAgainst.away%> </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
<%- include("footer");-%>
</html>